### Reading and combining Geolite2 databases

Databases
GeoLite2 databases are free IP geolocation databases comparable to, but less accurate than, MaxMind’s GeoIP2 databases. The GeoLite2 Country and City databases are updated on the first Tuesday of each month. The GeoLite2 ASN database is updated every Tuesday.

For more information refer to: https://dev.maxmind.com/geoip/geoip2/geolite2/

Geolite2 City Database Link: https://geolite.maxmind.com/download/geoip/database/GeoLite2-City-CSV.zip

Geolite2 Country Database Link: https://geolite.maxmind.com/download/geoip/database/GeoLite2-Country-CSV.zip

Geolite2 ASN database Link: https://geolite.maxmind.com/download/geoip/database/GeoLite2-ASN-CSV.zip

In [1]:
from zipfile import ZipFile
import urllib.request

In [2]:
import pandas as pd
import os as os
import matplotlib.pyplot as plt
import numpy as np

from datetime import datetime
%matplotlib inline

import seaborn as sns; 
sns.set(rc={'figure.figsize':(17,6)})

In [3]:
os.getcwd()

'/home/jovyan/work/sexyhot'

In [4]:
path = '/home/jovyan/work/sexyhot/Geolite2/'

### Download Zipped City Data from Site and store locally

In [5]:
url = 'https://geolite.maxmind.com/download/geoip/database/GeoLite2-City-CSV.zip'
urllib.request.urlretrieve(url, path +"Geolite2_City_CSV_downloaded.zip")

('/home/jovyan/work/sexyhot/Geolite2/Geolite2_City_CSV_downloaded.zip',
 <http.client.HTTPMessage at 0x7f99a2404978>)

### Download Zipped Country Data from Site and store locally

In [6]:
url_country='https://geolite.maxmind.com/download/geoip/database/GeoLite2-Country-CSV.zip'
urllib.request.urlretrieve(url_country, path +"Geolite2_Country_CSV_downloaded.zip")

('/home/jovyan/work/sexyhot/Geolite2/Geolite2_Country_CSV_downloaded.zip',
 <http.client.HTTPMessage at 0x7f99a24162e8>)

### Download Zipped ASN Data from Site and store locally

In [7]:
url_ASN='https://geolite.maxmind.com/download/geoip/database/GeoLite2-ASN-CSV.zip'
urllib.request.urlretrieve(url_ASN, path +"Geolite2_ASN_CSV_downloaded.zip")

('/home/jovyan/work/sexyhot/Geolite2/Geolite2_ASN_CSV_downloaded.zip',
 <http.client.HTTPMessage at 0x7f99a243ef98>)

In [8]:
from zipfile import ZipFile
import urllib.request

In [9]:
os.listdir(path)

['GeoLite2-ASN-Blocks-IPv4.csv',
 'GeoLite2-ASN-Blocks-IPv6.csv',
 'GeoLite2-City-Blocks-IPv4.csv',
 'GeoLite2-City-Blocks-IPv6.csv',
 'GeoLite2-City-Locations-pt-BR.csv',
 'GeoLite2-City.mmdb',
 'GeoLite2-City_20190730.tar.gz',
 'GeoLite2-Country-Blocks-IPv4.csv',
 'GeoLite2-Country-Blocks-IPv6.csv',
 'GeoLite2-Country-Locations-pt-BR.csv',
 'Geolite2_ASN_CSV_downloaded.zip',
 'Geolite2_City_CSV_downloaded.zip',
 'Geolite2_Country_CSV_downloaded.zip']

### Creates zip_file object for City, Country and ASN Data

In [10]:
zip_file = ZipFile(path+"Geolite2_City_CSV_downloaded.zip")

In [11]:
zip_file_country = ZipFile(path+"Geolite2_Country_CSV_downloaded.zip")

In [12]:
zip_file_ASN = ZipFile(path+"Geolite2_ASN_CSV_downloaded.zip")

### List names of files inside the zip files just downloaded

In [13]:
print(zip_file.namelist())

['GeoLite2-City-CSV_20190806/GeoLite2-City-Locations-zh-CN.csv', 'GeoLite2-City-CSV_20190806/LICENSE.txt', 'GeoLite2-City-CSV_20190806/GeoLite2-City-Blocks-IPv6.csv', 'GeoLite2-City-CSV_20190806/GeoLite2-City-Locations-en.csv', 'GeoLite2-City-CSV_20190806/GeoLite2-City-Locations-ru.csv', 'GeoLite2-City-CSV_20190806/GeoLite2-City-Blocks-IPv4.csv', 'GeoLite2-City-CSV_20190806/COPYRIGHT.txt', 'GeoLite2-City-CSV_20190806/GeoLite2-City-Locations-ja.csv', 'GeoLite2-City-CSV_20190806/GeoLite2-City-Locations-es.csv', 'GeoLite2-City-CSV_20190806/README.txt', 'GeoLite2-City-CSV_20190806/GeoLite2-City-Locations-pt-BR.csv', 'GeoLite2-City-CSV_20190806/GeoLite2-City-Locations-de.csv', 'GeoLite2-City-CSV_20190806/GeoLite2-City-Locations-fr.csv']

In [14]:
print(zip_file_country.namelist())

['GeoLite2-Country-CSV_20190806/GeoLite2-Country-Locations-ja.csv', 'GeoLite2-Country-CSV_20190806/GeoLite2-Country-Locations-pt-BR.csv', 'GeoLite2-Country-CSV_20190806/LICENSE.txt', 'GeoLite2-Country-CSV_20190806/GeoLite2-Country-Locations-en.csv', 'GeoLite2-Country-CSV_20190806/GeoLite2-Country-Blocks-IPv4.csv', 'GeoLite2-Country-CSV_20190806/GeoLite2-Country-Locations-es.csv', 'GeoLite2-Country-CSV_20190806/GeoLite2-Country-Locations-zh-CN.csv', 'GeoLite2-Country-CSV_20190806/GeoLite2-Country-Locations-fr.csv', 'GeoLite2-Country-CSV_20190806/GeoLite2-Country-Blocks-IPv6.csv', 'GeoLite2-Country-CSV_20190806/COPYRIGHT.txt', 'GeoLite2-Country-CSV_20190806/GeoLite2-Country-Locations-de.csv', 'GeoLite2-Country-CSV_20190806/GeoLite2-Country-Locations-ru.csv', 'GeoLite2-Country-CSV_20190806/README.txt']

In [15]:
print(zip_file_ASN.namelist())

['GeoLite2-ASN-CSV_20190806/LICENSE.txt', 'GeoLite2-ASN-CSV_20190806/GeoLite2-ASN-Blocks-IPv6.csv', 'GeoLite2-ASN-CSV_20190806/GeoLite2-ASN-Blocks-IPv4.csv', 'GeoLite2-ASN-CSV_20190806/COPYRIGHT.txt']

### Reads all ASN Ipv4 addresses

In [16]:
#df_ASN_Ipv4 = pd.read_csv(path+'GeoLite2-ASN-Blocks-IPv4.csv', sep = ',', encoding = "ISO-8859-1")
#df_ASN_Ipv4 = pd.read_csv(zip_file_ASN.open('GeoLite2-ASN-CSV_20190806/GeoLite2-ASN-Blocks-IPv4.csv'))

#df_ASN_Ipv4.head()

### Reads all ASN Ipv6 addresses

In [17]:
#df_ASN_Ipv6 = pd.read_csv(path+'GeoLite2-ASN-Blocks-IPv6.csv', sep = ',', encoding = "ISO-8859-1")

#df_ASN_Ipv6 = pd.read_csv(zip_file_ASN.open('GeoLite2-ASN-CSV_20190806/GeoLite2-ASN-Blocks-IPv6.csv'))

#df_ASN_Ipv6.head()

### Reads City-Blocks Ipv4 addresses

In [18]:
df_City_Ipv4 = pd.read_csv(zip_file.open('GeoLite2-City-CSV_20190806/GeoLite2-City-Blocks-IPv4.csv'), sep = ',', encoding = "ISO-8859-1") 
#df_City_Ipv4 = pd.read_csv(path+'GeoLite2-City-Blocks-IPv4.csv', sep = ',', encoding = "ISO-8859-1")

In [19]:
df_City_Ipv4.head()

,network,geoname_id,registered_country_geoname_id,represented_country_geoname_id,is_anonymous_proxy,is_satellite_provider,postal_code,latitude,longitude,accuracy_radius
0,1.0.0.0/24,8349238.0,2077456.0,NaN,0,0,5107,-34.7825,138.6106,50.0
1,1.0.1.0/24,1811017.0,1814991.0,NaN,0,0,NaN,24.4798,118.0819,50.0
2,1.0.2.0/23,1811017.0,1814991.0,NaN,0,0,NaN,24.4798,118.0819,50.0
3,1.0.4.0/22,2077456.0,2077456.0,NaN,0,0,NaN,-33.4940,143.2104,1000.0
4,1.0.8.0/21,1809935.0,1814991.0,NaN,0,0,NaN,23.1167,113.2500,50.0

### Reads City-Blocks Ipv6 addresses

In [20]:
#df_City_Ipv6 = pd.read_csv(zip_file.open('GeoLite2-City-CSV_20190806/GeoLite2-City-Blocks-IPv6.csv'), sep = ',', encoding = "ISO-8859-1") 
#df_City_Ipv6 = pd.read_csv(path+'GeoLite2-City-Blocks-IPv6.csv', sep = ',', encoding = "ISO-8859-1")

#df_City_Ipv6.head()

### Reads City Location and chages the encoding

In [21]:
df_City_Locations = pd.read_csv(zip_file.open('GeoLite2-City-CSV_20190806/GeoLite2-City-Locations-pt-BR.csv'), sep = ',', encoding = "utf-8")
#df_City_Locations = pd.read_csv(path+'GeoLite2-City-Locations-pt-BR.csv', sep = ',', encoding = "utf-8")

In [22]:
df_City_Locations.head()

,geoname_id,locale_code,continent_code,continent_name,country_iso_code,country_name,subdivision_1_iso_code,subdivision_1_name,subdivision_2_iso_code,subdivision_2_name,city_name,metro_code,time_zone,is_in_european_union
0,49518,pt-BR,AF,África,RW,Ruanda,NaN,NaN,NaN,NaN,NaN,NaN,Africa/Kigali,0
1,49747,pt-BR,AF,África,SO,Somália,BK,NaN,NaN,NaN,NaN,NaN,Africa/Mogadishu,0
2,51537,pt-BR,AF,África,SO,Somália,NaN,NaN,NaN,NaN,NaN,NaN,Africa/Mogadishu,0
3,53654,pt-BR,AF,África,SO,Somália,BN,NaN,NaN,NaN,Mogadíscio,NaN,Africa/Mogadishu,0
4,54225,pt-BR,AF,África,SO,Somália,SH,NaN,NaN,NaN,NaN,NaN,Africa/Mogadishu,0

### Reads Country Blocks Ipv4

In [23]:
df_Country_Ipv4 = pd.read_csv(zip_file_country.open('GeoLite2-Country-CSV_20190806/GeoLite2-Country-Blocks-IPv4.csv'), sep = ',', encoding = "ISO-8859-1")
#df_Country_Ipv4 = pd.read_csv(path+'GeoLite2-Country-Blocks-IPv4.csv', sep = ',', encoding = "ISO-8859-1")

In [24]:
df_Country_Ipv4.tail()

,network,geoname_id,registered_country_geoname_id,represented_country_geoname_id,is_anonymous_proxy,is_satellite_provider
331691,223.255.244.0/22,1269750.0,1269750.0,NaN,0,0
331692,223.255.248.0/22,1819730.0,1819730.0,NaN,0,0
331693,223.255.252.0/23,1814991.0,1814991.0,NaN,0,0
331694,223.255.254.0/24,1880251.0,1880251.0,NaN,0,0
331695,223.255.255.0/24,2077456.0,2077456.0,NaN,0,0

### Reads Country Blocks Ipv6

In [25]:
#df_Country_Ipv6 = pd.read_csv(zip_file_country.open('GeoLite2-Country-CSV_20190806/GeoLite2-Country-Blocks-IPv6.csv'), sep = ',', encoding = "ISO-8859-1")
#df_Country_Ipv6 = pd.read_csv(path+'GeoLite2-Country-Blocks-IPv6.csv', sep = ',', encoding = "ISO-8859-1")

#df_Country_Ipv6.tail()

### Reads country location data, changing encoding to read data correctly

In [26]:
df_Country_Location = pd.read_csv(zip_file_country.open('GeoLite2-Country-CSV_20190806/GeoLite2-Country-Locations-pt-BR.csv'), sep = ',', encoding = "utf-8")
#df_Country_Location = pd.read_csv(path+'GeoLite2-Country-Locations-pt-BR.csv', sep = ',', encoding = "utf-8")

In [27]:
df_Country_Location.head()

,geoname_id,locale_code,continent_code,continent_name,country_iso_code,country_name,is_in_european_union
0,49518,pt-BR,AF,África,RW,Ruanda,0
1,51537,pt-BR,AF,África,SO,Somália,0
2,69543,pt-BR,AS,Ásia,YE,Iêmen,0
3,99237,pt-BR,AS,Ásia,IQ,Iraque,0
4,102358,pt-BR,AS,Ásia,SA,Arábia Saudita,0

In [28]:
%whos

Variable              Type         Data/Info
--------------------------------------------
ZipFile               type         <class 'zipfile.ZipFile'>
datetime              type         <class 'datetime.datetime'>
df_City_Ipv4          DataFrame                        netwo<...>191167 rows x 10 columns]
df_City_Locations     DataFrame            geoname_id locale<...>117289 rows x 14 columns]
df_Country_Ipv4       DataFrame                       networ<...>[331696 rows x 6 columns]
df_Country_Location   DataFrame         geoname_id locale_co<...>n\n[252 rows x 7 columns]
np                    module       <module 'numpy' from '/op<...>kages/numpy/__init__.py'>
os                    module       <module 'os' from '/opt/c<...>nda/lib/python3.7/os.py'>
path                  str          /home/jovyan/work/sexyhot/Geolite2/
pd                    module       <module 'pandas' from '/o<...>ages/pandas/__init__.py'>
plt                   module       <module 'matplotlib.pyplo<...>es/matplotlib/pyplot.py'>
sns                   module       <module 'seaborn' from '/<...>ges/seaborn/__init__.py'>
url                   str          https://geolite.maxmind.c<...>ase/GeoLite2-City-CSV.zip
url_ASN               str          https://geolite.maxmind.c<...>base/GeoLite2-ASN-CSV.zip
url_country           str          https://geolite.maxmind.c<...>/GeoLite2-Country-CSV.zip
urllib                module       <module 'urllib' from '/o<...>n3.7/urllib/__init__.py'>
zip_file              ZipFile      <zipfile.ZipFile filename<...>downloaded.zip' mode='r'>
zip_file_ASN          ZipFile      <zipfile.ZipFile filename<...>downloaded.zip' mode='r'>
zip_file_country      ZipFile      <zipfile.ZipFile filename<...>downloaded.zip' mode='r'>

In [29]:
df_City_Ipv4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3191167 entries, 0 to 3191166
Data columns (total 10 columns):
network                           object
geoname_id                        float64
registered_country_geoname_id     float64
represented_country_geoname_id    float64
is_anonymous_proxy                int64
is_satellite_provider             int64
postal_code                       object
latitude                          float64
longitude                         float64
accuracy_radius                   float64
dtypes: float64(6), int64(2), object(2)
memory usage: 243.5+ MB

In [30]:
#df_ASN_Ipv4.info()

In [31]:
### Merge ASN and City
#df_Ipv4 = pd.merge(df_ASN_Ipv4, df_City_Ipv4, how = 'left', on = 'network')
#df_Ipv4.head(15)

#df_Ipv4.info()

### Count number of non-null rows in df_Ipv4 before final merge

In [32]:
#df_Ipv4[df_Ipv4.notnull()].count()

In [33]:
df_Country_Ipv4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331696 entries, 0 to 331695
Data columns (total 6 columns):
network                           331696 non-null object
geoname_id                        329960 non-null float64
registered_country_geoname_id     319818 non-null float64
represented_country_geoname_id    279 non-null float64
is_anonymous_proxy                331696 non-null int64
is_satellite_provider             331696 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 15.2+ MB

In [34]:
df_City_Locations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117289 entries, 0 to 117288
Data columns (total 14 columns):
geoname_id                117289 non-null int64
locale_code               117289 non-null object
continent_code            91239 non-null object
continent_name            117289 non-null object
country_iso_code          117261 non-null object
country_name              117287 non-null object
subdivision_1_iso_code    116529 non-null object
subdivision_1_name        56599 non-null object
subdivision_2_iso_code    37518 non-null object
subdivision_2_name        8889 non-null object
city_name                 8533 non-null object
metro_code                20705 non-null float64
time_zone                 117289 non-null object
is_in_european_union      117289 non-null int64
dtypes: float64(1), int64(2), object(11)
memory usage: 12.5+ MB

The merge below will not work if the order of the dataframes is reversed, since df_Ipv4.geoname_id has missing values

In [35]:
#df_all_Ipv4 = pd.merge(df_City_Locations, df_Ipv4, how = 'left', on = 'geoname_id')

In [36]:
#df_all_Ipv4.info()

#### Note that the number of rows in df_all_Ipv4 is equal to the count of non_null values in geocode_id.

In [37]:
#df_all_Ipv4.sort_values(by=['geoname_id']);

In [38]:
#df_all_Ipv4.tail()

In [39]:
#df_all_Ipv4.shape

### How many rows have information about service provider?

In [40]:
#df_all_Ipv4[df_all_Ipv4.autonomous_system_organization.notnull()].shape

In [41]:
#df_all_Ipv4[df_all_Ipv4.autonomous_system_organization.notnull()].head()

In [42]:
#df_all_Ipv4[df_all_Ipv4.autonomous_system_organization.notnull()].tail()

### How many have information about service provider and are located in Brazil?

In [43]:
#f_all_Ipv4[(df_all_Ipv4.autonomous_system_organization.notnull()) & (df_all_Ipv4.country_iso_code == 'BR')].shape

In [44]:
#df_all_Ipv4[(df_all_Ipv4.autonomous_system_organization.notnull()) & (df_all_Ipv4.country_iso_code == 'BR')].head()

In [45]:
#df_all_Ipv4[(df_all_Ipv4.autonomous_system_organization.notnull()) & (df_all_Ipv4.country_iso_code == 'BR')].tail()

## We lose a lot of data, so let´s ignore the ASN information when merging

In [50]:
df_city_Ipv4  = pd.merge(df_City_Ipv4, df_City_Locations, how = 'left', on = 'geoname_id')

In [51]:
# Convert registered_country_geoname_id to integer - the data type below allows NaN in the column
df_city_Ipv4.registered_country_geoname_id.astype(pd.Int32Dtype());

In [52]:
df_city_Ipv4.tail()

,network,geoname_id,registered_country_geoname_id,represented_country_geoname_id,is_anonymous_proxy,is_satellite_provider,postal_code,latitude,longitude,accuracy_radius,...,country_iso_code,country_name,subdivision_1_iso_code,subdivision_1_name,subdivision_2_iso_code,subdivision_2_name,city_name,metro_code,time_zone,is_in_european_union
3191162,223.255.246.0/23,1258847.0,1269750.0,NaN,0,0,360004,22.2916,70.7932,1.0,...,IN,Índia,GJ,Gujarate,NaN,NaN,Rajkot,NaN,Asia/Kolkata,0.0
3191163,223.255.248.0/22,1819730.0,1819730.0,NaN,0,0,NaN,22.2500,114.1667,50.0,...,HK,Hong Kong,NaN,NaN,NaN,NaN,NaN,NaN,Asia/Hong_Kong,0.0
3191164,223.255.252.0/23,1814991.0,1814991.0,NaN,0,0,NaN,34.7725,113.7266,50.0,...,CN,China,NaN,NaN,NaN,NaN,NaN,NaN,Asia/Shanghai,0.0
3191165,223.255.254.0/24,1880252.0,1880251.0,NaN,0,0,14,1.2967,103.8037,1000.0,...,SG,Cingapura,NaN,NaN,NaN,NaN,Singapura,NaN,Asia/Singapore,0.0
3191166,223.255.255.0/24,2077456.0,2077456.0,NaN,0,0,NaN,-33.4940,143.2104,1000.0,...,AU,Austrália,NaN,NaN,NaN,NaN,NaN,NaN,Australia/Sydney,0.0

In [53]:
df_city_Ipv4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3191167 entries, 0 to 3191166
Data columns (total 23 columns):
network                           object
geoname_id                        float64
registered_country_geoname_id     float64
represented_country_geoname_id    float64
is_anonymous_proxy                int64
is_satellite_provider             int64
postal_code                       object
latitude                          float64
longitude                         float64
accuracy_radius                   float64
locale_code                       object
continent_code                    object
continent_name                    object
country_iso_code                  object
country_name                      object
subdivision_1_iso_code            object
subdivision_1_name                object
subdivision_2_iso_code            object
subdivision_2_name                object
city_name                         object
metro_code                        float64
time_zone                         object
is_in_european_union              float64
dtypes: float64(8), int64(2), object(13)
memory usage: 584.3+ MB

In [ ]:
df_city_Ipv4.to_csv(path + 'df_city_Ipv4.csv')